@font-face {
  font-family: Vazir;
  src: url("../font/vazir-font/Vazir.eot");
  src: url("../font/vazir-font/Vazir.eot?#iefix") format("embedded-opentype"),
    url("../font/vazir-font/Vazir.woff") format("woff"),
    url("../font/vazir-font/Vazir.ttf") format("truetype");
  font-weight: normal;
}

@font-face {
  font-family: IranYekan;
  src: url("../font/Qs_Iranyekan medium.eot"),
    url("../font/Qs_Iranyekan medium.woff") format("woff"),
    url("../font/Qs_Iranyekan medium.ttf") format("truetype"),
    url("../font/Qs_Iranyekan medium.otf") format("otf"),
    url("../font/Qs_Iranyekan medium.woff2") format("woff2");
  font-weight: normal;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.mySwiper .swiper-slide {
  opacity: 0.5;
}
.swiper-slide-thumb-active {
  opacity: 1 !important;
}
